/* Container styles using CSS Grid */
.container {
    width:100%;
    display:grid;
    grid-template-columns: 70% 30%;
    margin:0% auto;
    color: #2D3748;
    font-size: 18px;
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
/* Header styles */
header {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    grid-column: span 2;
    background-color:  #63B3ED;
    color: #FFFFFF;
    margin:10px;
}
/* Apply border-radius to the image with the "rounded-image" class */
.rounded-image {
    border-radius: 50%;
    padding-top: 10px;
}

.custom-image {
    width: 200px; 
    height: 150px; 
}
  
.right-image img {
    max-width: 40%;
    float: right;
    height:auto;
    padding-left: 10px;
}
  
.left-image img {
    max-width: 40%;
    float: left;
    height:200px;
    padding: 10px;
    clear: both;
}
/* Default Styles for text */
body{
    font-size:18px;
    color: #2D3748;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", 
  Arial, "Noto Sans", sans-serif;
}

h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    font-size: 32px;
    color: #48BB78;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#48BB78;
}
.About {
    color:black;
}
article{
    font-size: 16px;
    color:#2D3748;
    grid-column: 1;
    margin:10px;
}
.date {
    color:#718096;
}
/* Sidebar styles */
aside {
    font-size: 18px;
    grid-column: 2;
    padding-left: 20px;
    padding-right: 20px;
}
.about-section {
    background-color: #E2E8F0;
    color: #2D3748;
    padding: 15px;
}
.second-article-list {
    display: flex;
    flex-direction: column;
    margin: 10px; 
  }
/* Footer styles */
footer {
    font-size: 18px;
    background-color: #2C5282;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    padding-left: 200px;
    grid-row: 3;
    grid-column: span 2;
}
  